<!DOCTYPE html>
<html>
    <head>
        <meta name="layout" content="admin" />
        <title> - Dashboard</title>
        <script>
            $(document).ready(function() {
                $('.menu-top a').removeClass('active');
                $('#menu-home').addClass('active');
            });
        </script>
    </head>
    <body>

    </body>
</html>